#header {
    position: absolute;
    display: flex;
    width: 95vw;
    justify-content: space-between;
    z-index: 20;
}

/* .left {
    background-color: azure;
} */

.right{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#github {
    width: 200px;
    height: 50px;
}

#linkedin {
    width: 100px;
    height: 50px;
}

#score {
    font-size: 36px;
    /* background-color: azure; */
}

a {
    width: inherit;
    height: inherit;
}

img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

canvas {
    margin: -10px;
    border: 1px solid black;
    position: absolute;
    z-index: 10;
}

#ui {
    display: flex;
    position: absolute;
    width: 12vw;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
    bottom: 10vh;
    left: 44vw;
    z-index: 20;
}

#skill-one {
    width: 70px;
    height: 70px;
    border: 3px solid gold;
}

#skill-two {
    width: 70px;
    height: 70px;
    border: 3px solid black;
}

/* body {
    position: relative;
}

#eci-graph {
    background-color: rgb(148, 148, 158);
    position: absolute;
    top: 600px;
    z-index: 100;

} */